@import 'src/styles/_vars.scss';

.grey {
  background-color: rgb(194, 194, 194);
}

.yellow {
  background-color: rgb(131, 202, 0);
}

.overall__button {
  @include standard-button;
}

#generalTrackManager {
  border-bottom: $standard-border;
}
